*{
    margin: 0;
    padding: 0;
}

body{
    background:linear-gradient(to top, rgba(0,0,0, 0.5)50%,rgba(0,0,0,0.5)50%), url(bg.jpg);
    background-size: cover;
    background-attachment:fixed;
    background-repert:no-repert; 
    background-position:center;
    bacground-align:cover;
}

logo{
    color: rgb(0, 243, 61);
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 20px;
    float: right;
    padding-top: 25px;
    font-weight: bold;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 25px;
}

ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color:rgb(0, 243, 61);
}

/*Text About Home Page*/


h1{
    padding-top: 250px;
    padding-left: 60px;
    color: white;
    font-size: 50px;
}

.text p{
    padding-top: 20px;
    padding-left: 60px;
    color: white;
    font-size: 30px;
}

.text p a{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

.text p a:hover{
    color: rgb(2, 175, 243);
}

img{
    height: 200px;
    width: 200px;
    padding-left: 60px;
    padding-top: 20px;
    shape-image-threshold: inherit;
}
